<!DOCTYPE html>
<html>
<head>
    <title>ITE Asesorías</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="logo"><center>ITE ASESORIAS</div></center>
    </div>
    
    <div class="access-options">
        <div class="access-card" onclick="location.href='login.html'">
            <p>ALUMNO</p>
            <button class="login-btn">INGRESAR</button>
        </div>
        
        <div class="access-card" onclick="location.href='login.html'">
            <p>DOCENTE</p>
            <button class="login-btn">INGRESAR</button>
        </div>
        
        <div class="access-card" onclick="location.href='login.html'">
            <p>ADMINISTRADOR</p>
            <button class="login-btn">INGRESAR</button>
        </div>
    </div>

    <a href="crear_cuenta.html" class="back-link">No tienes cuenta? Crea una aqui<br><br></a>
</body>
</html>